<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853316482512-5nelhhnm3qloii8dgrn920qikseqvijq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853316482512-5nelhhnm3qloii8dgrn920qikseqvijq</string>
	<key>API_KEY</key>
	<string>AIzaSyDAjJqnlssFifX0E-4EqWZZV10-d_J45s8</string>
	<key>GCM_SENDER_ID</key>
	<string>853316482512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mensaplay.bbh</string>
	<key>PROJECT_ID</key>
	<string>basket-ball-hoop</string>
	<key>STORAGE_BUCKET</key>
	<string>basket-ball-hoop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853316482512:ios:9ea70c792de0a64de3b5d5</string>
</dict>
</plist>